<!DOCTYPE html>
<html>

<head>
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .menu-item{
            padding:10px;
        }
        .menu-item:hover{
            background-color: blue;
        }
        .menu-item-link{
                color:white;
                text-decoration:none;
        }
        
       
       </style>
</head>

<body>
    <div class="bg-dark" style="width: 98%; height: 98vh;">
        <div class="menu-item">
            <a href="../property_type/property_type_create/property_type_create.html" class="menu-item-link" target="_maincontainer">Add Property Type</a>
        </div>
        <div class="menu-item">
            <a href="../property_type/property_type_view/property_type_view.html" class="menu-item-link"target="_maincontainer">View Property</a>
        </div>
        <div class="menu-item">
            <a href="../property/property_create/property_create.html" class="menu-item-link"target="_maincontainer"> Add Property</a>
        </div>
        <div class="menu-item">
            <a href="../property/property_view/property_view.html" class="menu-item-link"target="_maincontainer"> View Property</a>
        </div>
    </div>
</body>
</html>